# One month for most static assets <https://varvy.com/pagespeed/cache-control.html#basics>
<filesMatch "\<PATCH>\.(css)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>

<filesMatch "\<PATCH>\.(jpg|jpeg|png|gif|svg)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>

<filesMatch "\<PATCH>\\.(js)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>


# Compress files CSS and JS with GZIP <https://httpd.apache.org/docs/2.4/mod/mod_deflate.html>
<IfModule mod_headers.c>

    RewriteCond "%{HTTP:Accept-encoding}" "gzip"
    RewriteCond "%{REQUEST_FILENAME}\.gz" -s
    RewriteRule "^(.*)\.(css|js)"         "$1\.$2\.gz" [QSA]

    RewriteRule "\<PATCH>\.css\.gz$" "-" [T=text/css,E=no-gzip:1]
    RewriteRule "\<PATCH>\.js\.gz$"  "-" [T=text/javascript,E=no-gzip:1]

    <FilesMatch "(\.js\.gz|\.css\.gz)$">
      Header append Content-Encoding gzip
      Header append Vary Accept-Encoding
    </FilesMatch>
</IfModule>